body {
    background: #cceefb;
    font-family: arial, sans-serif;
}

h1 {
    color: #113460;
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

p {
    width: 80%;
}

img {
    height: 200px;
}